<!DOCTYPE html>
{% extends "core.html" %} {% load static %} 
{% block title %} <title>CRUD</title> {% endblock %}


{% block content %}
<div class="container mb-5 pt-5 mt-5">
  {% if user.is_superuser %}
    <form id="form" method="post">
        {% csrf_token %}
        <select name="drop1" class="form-select m-5">
            {% for i in userlist %} 
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Consultar" name="btnform1" class="btn btn-light ">

        <table class="table">
          <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Fecha</th>
            <th scope="col">Busqueda</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
          {% for i in userselect %}
          <tr>
              <td scope="row">{{i.usuario}}</td>
              <td>{{i.historial.fecha}}</td>
              <td>{{i.historial.historial}}</td>
              <td><button name ="btneditar" class="btn btn-warning" value="{{i.id}}">{{i.id}}</button></td>
              <td><button name ="btneliminar" class="btn btn-danger" value="{{i.id}}">{{i.id}}</button></td>
          </tr>
          {% endfor %}
        </table>

      

    </form>
  {% endif %}

</div>
{% endblock %}